<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v9_73">
    <div class="v4_30">
        <div class="v4_31"></div>
        <span class="v4_32">Регистрация / Вход</span>
        <div class="v4_33">
            <div class="v4_34"></div>
            <div class="v4_35"></div>
            <div class="v4_36"></div>
            <span class="v4_37">Login</span><span class="v4_38">Password</span>
            <div class="v4_39"></div>
        </div>
        <div class="v4_40">
            <div class="v4_41"></div>
            <span class="v4_42">Вход</span></div>
    </div>
    <div class="v4_120">
        <div class="v4_17">
            <div class="v4_18">
                <div class="v4_19"></div>
                <span class="v4_20">Регистрация</span></div>
            <div class="v4_21">
                <div class="v4_22"></div>
                <span class="v4_23">Вход</span></div>
            <div class="v4_24">
                <div class="v4_25"></div>
                <span class="v4_26">Предметы</span></div>
            <div class="v4_27">
                <div class="v4_28"></div>
                <span class="v4_29">Группы</span></div>
        </div>
    </div>
</div>
</body>
</html>